.header {
  width: 100% !important;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #6a1f90;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  .header-logo {
    transform: scale(.8);
    max-width: 250px;
  }
  .header-item {
    width: 25%;
  }
  .header-title {
    color: $title-colour;
    max-width: 180px;
  }
}

@media (max-width: 768px) {
  .header-logo {
    // transform: scale(1.2);
    // object-fit: contain;
    width: 120%;
  }

  .header-title {
    min-width: 165px;
  }
  .header-text {
    font-size: 1.8rem;
  }
}

