.page-container {
  width: 100% !important;
}

.form-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-form {
    font-family: $title-font;
    color: $twm-black;
    background-color: $twm-pale-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 40px;
    padding-top: 0;
    box-shadow: $shadow-vheavy;
    border-radius: 6px;
    margin: 20px;

    .auth-title {
      margin-bottom: 0;
    }
    .auth-subtitle {
      margin-bottom: 40px;
    }

    .label {
      width: 100%;
      padding: 3px 0;
      margin-top: 5px;
      display: none;
    }
    .input {
      width: 100%;
      margin: 5px 0px 10px 0px;
      padding: 10px 10px;
      border: 0.5px solid rgba(0, 0, 0, 0.4);
      border-radius: 3px;
      color: $twm-blue;
      font-family: $title-font;
      font-size: 1rem;
    }

    #login-btn {
      margin-top: 20px;
      width: 50%;
      font-size: 1rem;
      color: $twm-black;

      transition: all .3s ease-in-out;
    }
    #login-btn:hover {
      box-shadow:  $shadow-vheavy;
      color: $twm-blue;
      cursor: pointer;
    }
    #login-btn:active {
      background-color: $twm-blue;
      color: $twm-pale-white;
    }
    #register-link {
      margin-top: 30px;
      font-size: 1.2rem;
      font-weight: bold;
      color: #4f0dc1;

      transition: all .4s ease-in-out;
    }

    #register-link:hover {
      color: $twm-pink;
      text-decoration: underline;
      letter-spacing: .04rem;
    }
  }
}


.admin {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 5px;
}


@media (max-width: 578px) {
  .login-form {
    width: 380px !important;
    // border: 1px solid blue;
  }
}
// @media (max-width: 578px) {
//   .login-form {
//     width: 380px !important;
//     border: 1px solid blue;
//   }
// }
