// * FONT EFFECTS
$title-font: 'Josefin Sans', sans-serif;
$title-colour: #303030;

$headline-colour: #0064ff;
$subheadline-colour: #ff0069;

$headline-weight: 900;
$subheadline-weight: 700;
$body-lweight: 400;

// * BRAND COLOURS
$twm-blue: #0064ff;
$twm-pink: #ff0069;
$twm-yellow:#fadc00;
$twm-white: #ebe6d7;
$twm-pale-white: rgba(245, 243, 236, 1.0);
$twm-black: #303030;

// * SHADOWS
$shadow-vlight: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$shadow-med: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$shadow-heavy: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$shadow-vheavy: rgba(0, 0, 0, 0.35) 0px 5px 15px;


// * WORKING BORDERS
$wb_blue: 1px solid blue;
$wb-pink: 1px solid magenta;
$wb-green: 1px solid lightgreen;
$wb-yellow: 1px solid yellow;
